.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 200px;
    align-self: center;
    background-color: transparent;
    border-radius: 20px;
    transition: transform 200ms ease-in-out;

  }

  img:hover {
    transform: scale(1.05);
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
  }


}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >=800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}
