.projectCardButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

a.projectCardLink {
    color: var(--link-text-color);
    font-family: "Roboto Mono", monospace;
    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
        color: var(--link-hover-text-color);
    }
}

.projectCardLogo {
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}

.projectCardImgContainer {
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
    margin-bottom: 1rem;
    padding:1rem;
    min-height:200px;
    transition: transform 200ms ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}