.projectCardButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

a.projectCardLink {
    color: #3c3cba;
    font-family: "Roboto Mono", monospace;
    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
    font-weight: bold;
    &:hover {
        color: var(--text-color);
    }
}