.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
}

.hero {
  max-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

span {
  display: flex;
  gap: 25px;
  justify-content: center;
  a {
    margin: 0;
    img {
      width: 30px;
    }
  }
}

a {
  width: fit-content;
  align-self: center;
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  width: 25px;
  right: 0;
}

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 24ch;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width>=800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    .hero {
      max-width: 350px;
      width: 350px;
      height: 350px;
    }
  }
}

@media (width>=1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
      height: 400px;
    }
  }
}
